@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calligraffitti', cursive;
    font-family: 'Lora', serif;

}

body {
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;

}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;

}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 80px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

h4 {
    color: #1b1a1a;
}

.navbar {
    top: 0%;
    position: -webkit-sticky;
    position: sticky;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    background-color: #efe0e02d;

}

.logo {


    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #444;
}

nav {
    text-align: right;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

.head {

    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.buy {
    border: none;
    color: white;
    background-color: chocolate;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 100px;
}


.container {
    padding-top: 0px;

}

/* Drop Down */
/* Dropdown Button */
.dropbtn {
    background-color: #0a0a0a;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 260px;
    margin-left: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #525552;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}




/* Product */
.row1 {
    display: flex;
    margin-left: 55px;

}

.row2 {
    display: flex;
    margin-left: 55px;

}

.row3 {
    display: flex;
    margin-left: 55px;

}

.row4 {
    display: flex;
    margin-left: 55px;

}

.row5 {
    display: flex;
    margin-left: 55px;

}

.row6 {
    display: flex;
    margin-left: 55px;

}

.row7 {
    display: flex;
    margin-left: 55px;

}

.row8 {
    display: flex;
    margin-left: 55px;

}


.po1 img {
    align-content: space-evenly;
    padding: 30px;
    height: 400px;
}

.po1:hover:hover img {

    margin-top: 5%;
}



.text {
    display: flex;
    flex-wrap: row;
    padding-left: 35px;

}

/* row2 = products */

.po2 {
    display: inline-block;
}

.po2 img {


    align-content: space-evenly;
    padding: 50px;
    height: 400px;
}


.po2:hover:hover img {

    margin-top: 5%;
}





/* row3 = prducts */

.po3 {
    display: inline-block;
}


.po3 img {
    align-content: space-evenly;
    padding: 50px;
    height: 400px;
    width: 300px;
}

.po3:hover:hover img {
    margin-top: 5%;
}





/* row4 = products */

.po4 {
    display: inline-block;
}


.po4 img {


    align-content: space-evenly;
    padding: 40px;
    height: 400px;
}

.po4:hover:hover img {

    margin-top: 5%;
}






/* row 5 = products */
.po5 {
    display: inline-block;
}

.po5 img {
    align-content: space-evenly;
    padding: 50px;
    height: 400px;
}

.po5:hover:hover img {

    margin-top: 5%;
}



.po6 {
    display: inline-block;
}

.po6 img {
    align-content: space-evenly;
    padding: 50px;
    height: 400px;

}

.po6:hover:hover img {

    margin-top: 5%;
}



.po7 {
    display: inline-block;
}

.po7 img {
    align-content: space-evenly;
    padding: 50px;
    height: 400px;
}

.po7:hover:hover img {

    margin-top: 5%;
}



.po8 {
    display: inline-block;
}

.po8 img {
    align-content: space-evenly;
    padding: 50px;
    height: 400px;
}

.po8:hover:hover img {

    margin-top: 5%;
}



.prize {
    display: inline;
    padding-left: 35px;
    text-decoration: 10px double black;
    align-items: center;
}

.off {
    color: greenyellow;
    align-items: center;
}

.oldprize {
    text-decoration: line-through;
    color: #444
}

.btn {
    background-color: #ffffff;
    color: #0f0fd1;
}















































/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: black;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 80%;
}

.footer-col ul li::not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}



.footer-col .social-links a:hover {
    color: black;
    background-color: #ffffff;
}

@media(max-width:800px) {
    .footer-col {
        width: 50%;
        margin-top: 30px;
    }
}

@media(max-width:300px) {
    .footer-col {
        width: 100%;
    }
}